 @charset "UTF-8";

body, html {
	 text-align: center;
	margin: 0;
	height: 100%;
	background-image: url("BGImage.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	color: blue;
	background:black;
	font-size: 70px;
	margin-top: 70px;
	letter-spacing: 3px;
	font-family: "Verdana";
	margin-left:10%;
	margin-right:10%;
}

.inputButton {
	
	background-color: #f4511e;
	color: #FFFFFF;
	text-align: center;
	border-radius: 12px;
	font-size: 28px;
	height: 80px;
    width: 16%;
    margin-top: 15%;
    margin-left:42%; 
    margin-right:42%; 
   
}

.inputButton:hover {
	background-color: #FFFFFF;
	color: #f4511e;

}

.para {
	color:black;
	background: white;
	font-family: 'Helvetica Neue', sans-serif; 
	text-align: center;
	margin-left:20%; 
    margin-right:20%; 
	
}
.choose {
	margin-left:40%; 
    margin-right:40%; 
}

.options{
	text-align: center;
	font-family: "Verdana";
	color: black; 
	
}

.options:selected{
     background-color: rgb(53, 144, 178); 
	}
	
}